# Allows to override Scylla Operator name showing up in recommended k8s labels
nameOverride: ""
# Allows to override names used in Scylla Operator k8s objects.
fullnameOverride: ""

# Allows to customize Scylla Operator image
image:
  repository: scylladb
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# Scylla Operator log level, allowed values are: error,warn,info,debug,trace
logLevel: debug
# Resources allocated to Scylla Operator pods
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 32Mi
# Node selector for Scylla Operator pods
nodeSelector: { }

# Tolerations for Scylla Operator pods
tolerations: [ ]

# Affinity for Scylla Operator pods
affinity: { }

webhook:
  # Specifies whether a self signed certificate should be created using cert-manager
  createSelfSignedCertificate: true
  # Name of a secret containing custom certificate
  # If not set and createSelfSignedCertificate is true, a name is generated using fullname
  certificateSecretName: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
