[Unit]
Description=RAID0 disk
After=kube-node-configuration.service
Requires=kube-node-configuration.service

[Mount]
What=/mnt/stateful_partition/kube-ephemeral-ssd/scylla
Where=/mnt/raid-disks/disk0
Type=none
Options=bind

