apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: scylla-manager-controller
  namespace: scylla-manager
spec:
  minAvailable: 1
  selector:
    matchLabels:
      {{- include "scylla-manager.controllerSelectorLabels" . | nindent 6 }}
