# Scylla Manager image
image:
  repository: docker.io/scylladb
  tag: 3.8.0@sha256:cd38015babbc96c0d98084378991acf44cee3c1841173da365423549cdffd1e3
controllerImage:
  repository: docker.io/scylladb
logLevel: info
# Resources allocated to Scylla Manager pods
resources:
  requests:
    cpu: 10m
    memory: 20Mi
# Resources allocated to Scylla Manager Controller pods
controllerResources:
  requests:
    cpu: 10m
    memory: 20Mi
# Scylla instance for Manager
scylla:
  fullnameOverride: scylla-manager-cluster
  scyllaImage:
    repository: docker.io/scylladb/scylla
    tag: 2025.4.3
  agentImage:
    tag: 3.8.0@sha256:2fb6552788d112c1c008f8de27f8abeba12e3a067d58a5260eaea477ef7ddaf2
    repository: docker.io/scylladb/scylla-manager-agent
  developerMode: true
  cpuset: true
  datacenter: manager-dc
  racks:
    - name: manager-rack
      members: 1
      storage:
        capacity: 5Gi
        storageClassName: scylladb-local-xfs
      resources:
        limits:
          cpu: 1
          memory: 200Mi
        requests:
          cpu: 1
          memory: 200Mi
      placement:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: scylla.scylladb.com/node-type
                    operator: In
                    values:
                      - scylla
        tolerations:
          - key: scylla-operator.scylladb.com/dedicated
            operator: Equal
            value: scyllaclusters
            effect: NoSchedule
