apiVersion: scylla.scylladb.com/v1alpha1
kind: ScyllaDBDatacenter
metadata:
  generateName: basic-
  labels:
   foo: bar
  annotations:
   bar: foo
spec:
  clusterName: basic
  datacenterName: us-east-1
  scyllaDB:
    image: "{{ .scyllaDBRepository }}:{{ .scyllaDBVersion }}"
    enableDeveloperMode: true
  scyllaDBManagerAgent:
    image: "{{ .scyllaDBManagerAgentRepository }}:{{ .scyllaDBManagerVersion }}"
  exposeOptions:
    nodeService:
      type: {{ .nodeServiceType }}
    broadcastOptions:
      nodes:
        type: {{ .nodesBroadcastAddressType }}
      clients:
        type: {{ .clientsBroadcastAddressType }}
  rackTemplate:
    nodes: 1
    scyllaDB:
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          cpu: 1
          memory: 1Gi
      storage:
        capacity: 1Gi
        {{- if .storageClassName }}
        storageClassName: {{ .storageClassName }}
        {{- end }}
    scyllaDBManagerAgent:
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
    placement:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: scylla.scylladb.com/node-type
              operator: In
              values:
              - scylla
      tolerations:
      - effect: NoSchedule
        key: scylla-operator.scylladb.com/dedicated
        operator: Equal
        value: scyllaclusters
  racks:
  - name: us-east-1a
