apiVersion: scylla.scylladb.com/v1alpha1
kind: ScyllaDBDatacenter
metadata:
  generateName: basic-
  labels:
   foo: bar
  annotations:
   bar: foo
spec:
  clusterName: basic
  datacenterName: us-east-1
  scyllaDB:
    image: "docker.io/scylladb/scylla:{{ .scyllaDBVersion }}"
    developerMode: true
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        cpu: 1
        memory: 1Gi
    storage:
      capacity: 1Gi
      {{- if .storageClassName }}
      storageClassName: {{ .storageClassName }}
      {{- end }}
  scyllaDBManagerAgent:
    image: "docker.io/scylladb/scylla-manager-agent:{{ .scyllaDBManagerVersion }}"
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
  exposeOptions:
    nodeService:
      type: {{ .nodeServiceType }}
    broadcastOptions:
      nodes:
        type: {{ .nodesBroadcastAddressType }}
      clients:
        type: {{ .clientsBroadcastAddressType }}
  rackTemplate:
    nodes: 1
  racks:
  - name: us-east-1a
