apiVersion: scylla.scylladb.com/v1
kind: ScyllaCluster
metadata:
  generateName: basic-
  labels:
   foo: bar
  annotations:
   bar: foo
spec:
  agentVersion: "{{ .scyllaDBManagerVersion }}"
  version: "{{ .scyllaDBVersion }}"
  developerMode: true
  {{- if .scyllaArgs }}
  scyllaArgs: "{{ join .scyllaArgs " " }}"
  {{- end }}
  exposeOptions:
    nodeService:
      type: {{ .nodeServiceType }}
    broadcastOptions:
      nodes:
        type: {{ .nodesBroadcastAddressType }}
      clients:
        type: {{ .clientsBroadcastAddressType }}
  datacenter:
    name: us-east-1
    racks:
    {{- range $_, $rackName := .rackNames }}
    - name: "{{ $rackName }}"
      members: 1
      storage:
        capacity: 1Gi
        {{- if $.storageClassName }}
        storageClassName: {{ $.storageClassName }}
        {{- end }}
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          cpu: 1
          memory: 1Gi
      placement:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: scylla.scylladb.com/node-type
                operator: In
                values:
                - scylla
        tolerations:
        - effect: NoSchedule
          key: scylla-operator.scylladb.com/dedicated
          operator: Equal
          value: scyllaclusters
    {{- end }}
