# Allows to override Scylla Manager name showing up in recommended k8s labels
nameOverride: ""
# Allows to override names used in Scylla Manager k8s objects.
fullnameOverride: ""
# Allows to customize Scylla Manager image
image:
  repository: scylladb
  pullPolicy: IfNotPresent
  tag: 3.7.0@sha256:9718a9333f9337418be6d301521ccb49ef1449ea693bb178c4b5f5e8feedaf23
# Scylla Manager log level, allowed values are: error, warn, info, debug, trace
logLevel: info
# Resources allocated to Scylla Manager pods
resources:
  requests:
    cpu: 10m
    memory: 20Mi
# Node selector for Scylla Manager pod
nodeSelector: {}
# Tolerations for Scylla Manager pod
tolerations: []
# Affinity for Scylla Manager pod
affinity: {}
## SecurityContext holds pod-level security attributes
securityContext: {}
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
scylla:
  annotations:
    # Disable the manager's ScyllaCluster integration with the manager itself as it is not needed.
    scylla-operator.scylladb.com/disable-global-scylladb-manager-integration: "true"
  developerMode: true
  scyllaImage:
    tag: 2025.4.0-rc7
  agentImage:
    tag: 3.7.0@sha256:bfceefaabeecc119ea8c39150314967c5b8efc22334c0ca3e020ed2ab9ca7e19
  datacenter: manager-dc
  racks:
    - name: manager-rack
      members: 1
      storage:
        capacity: 5Gi
        storageClassName: scylladb-local-xfs
      resources:
        limits:
          cpu: 1
          memory: 200Mi
        requests:
          cpu: 1
          memory: 200Mi
      placement:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: scylla.scylladb.com/node-type
                    operator: In
                    values:
                      - scylla
        tolerations:
          - effect: NoSchedule
            key: scylla-operator.scylladb.com/dedicated
            operator: Equal
            value: scyllaclusters
# Whether to create Prometheus ServiceMonitor
serviceMonitor:
  create: false
  labels: {}
