apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: scylladb:controller:manager-controller
aggregationRule:
  clusterRoleSelectors:
    - matchLabels:
        rbac.operator.scylladb.com/aggregate-to-scylla-manager-controller: "true"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: scylladb:controller:aggregate-to-manager-controller
  labels:
    rbac.operator.scylladb.com/aggregate-to-scylla-manager-controller: "true"
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - get
  - list
- apiGroups:
  - scylla.scylladb.com
  resources:
  - scyllaclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - scylla.scylladb.com
  resources:
  - scyllaclusters/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

---
apiVersion: v1
kind: Namespace
metadata:
  name: scylla-manager

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: scylla-manager-controller
  namespace: scylla-manager
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: scylla-manager-controller
      app.kubernetes.io/instance: scylla-manager

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: scylla-manager-controller
  namespace: scylla-manager
  labels:
    app.kubernetes.io/name: scylla-manager-controller
    app.kubernetes.io/instance: scylla-manager

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: scylla-manager-config
  namespace: scylla-manager
data:
  scylla-manager.yaml: |-
    http: :5080
    logger:
      level: info
    database:
      hosts:
      - scylla-manager-cluster-manager-dc-manager-rack-0

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager
  name: scylla-manager
  namespace: scylla-manager
spec:
  ports:
  - name: api
    port: 80
    protocol: TCP
    targetPort: 5080
  - name: metrics
    port: 5090
    protocol: TCP
    targetPort: 5090
  selector:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: scylla-manager
  namespace: scylla-manager
  labels:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: scylladb:controller:manager-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: scylladb:controller:manager-controller
subjects:
- kind: ServiceAccount
  name: scylla-manager-controller
  namespace: scylla-manager

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scylla-manager-controller
  namespace: scylla-manager
  labels:
    app.kubernetes.io/name: scylla-manager-controller
    app.kubernetes.io/instance: scylla-manager
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: scylla-manager-controller
      app.kubernetes.io/instance: scylla-manager
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: scylla-manager-controller
        app.kubernetes.io/instance: scylla-manager
    spec:
      serviceAccountName: scylla-manager-controller
      containers:
      - name: scylla-manager-controller
        image: docker.io/scylladb/scylla-operator:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        args:
        - manager-controller
        - --loglevel=2
        resources:
          requests:
            cpu: 10m
            memory: 20Mi
      terminationGracePeriodSeconds: 10

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scylla-manager
  namespace: scylla-manager
  labels:
    app.kubernetes.io/name: scylla-manager
    app.kubernetes.io/instance: scylla-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: scylla-manager
      app.kubernetes.io/instance: scylla-manager
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: scylla-manager
        app.kubernetes.io/instance: scylla-manager
    spec:
      serviceAccountName: scylla-manager
      containers:
      - name: scylla-manager
        image: docker.io/scylladb/scylla-manager:3.3.2-0.20240911.83f13898f
        imagePullPolicy: IfNotPresent
        command:
        - /usr/bin/scylla-manager
        args:
        - --config-file=/mnt/etc/scylla-manager/scylla-manager.yaml
        resources:
          requests:
            cpu: 10m
            memory: 20Mi
        volumeMounts:
        - mountPath: /mnt/etc/scylla-manager
          name: scylla-manager-config
        readinessProbe:
          httpGet:
            path: /api/v1/clusters
            port: 5080
          periodSeconds: 10
          timeoutSeconds: 3
      volumes:
      - configMap:
          name: scylla-manager-config
        name: scylla-manager-config

---
apiVersion: scylla.scylladb.com/v1
kind: ScyllaCluster
metadata:
  name: scylla-manager-cluster
  namespace: scylla-manager
spec:
  version: 6.1.1
  agentVersion: 3.3.2-0.20240911.83f13898f
  repository: docker.io/scylladb/scylla
  agentRepository: docker.io/scylladb/scylla-manager-agent
  developerMode: true
  cpuset: true
  datacenter:
    name: manager-dc
    racks:
    - name: manager-rack
      members: 1
      storage:
        capacity: 5Gi
        storageClassName: scylladb-local-xfs
      resources:
        limits:
          cpu: 1
          memory: 200Mi
        requests:
          cpu: 1
          memory: 200Mi

---
