kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
kubeadmConfigPatches:
  - |
    kind: KubeletConfiguration
    networking:
      dnsDomain: "cluster.scylladb.com"
networking:
  ipFamily: ipv4
nodes:
  - role: control-plane
  - role: worker
    labels:
        scylla.scylladb.com/node-type: scylla
  - role: worker
    labels:
      scylla.scylladb.com/node-type: scylla
