---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: scyllaoperatorconfigs.scylla.scylladb.com
spec:
  group: scylla.scylladb.com
  names:
    kind: ScyllaOperatorConfig
    listKind: ScyllaOperatorConfigList
    plural: scyllaoperatorconfigs
    singular: scyllaoperatorconfig
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .metadata.creationTimestamp
          name: AGE
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: ScyllaOperatorConfig describes the Scylla Operator configuration.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: spec defines the desired state of the operator.
              properties:
                configuredClusterDomain:
                  description: configuredClusterDomain allows users to set the configured Kubernetes cluster domain explicitly, instead of letting Scylla Operator automatically discover it.
                  type: string
                scyllaUtilsImage:
                  description: scyllaUtilsImage is a ScyllaDB image used for running ScyllaDB utilities.
                  type: string
                unsupportedBashToolsImageOverride:
                  description: |-
                    unsupportedBashToolsImageOverride allows to adjust a generic Bash image with extra tools used by the operator
                    for auxiliary purposes.
                    Setting this field renders your cluster unsupported. Use at your own risk.
                  type: string
                unsupportedGrafanaImageOverride:
                  description: |-
                    unsupportedGrafanaImageOverride allows to adjust Grafana image used by the operator
                    for testing, dev or emergencies.
                    Setting this field renders your cluster unsupported. Use at your own risk.
                  type: string
                unsupportedPrometheusVersionOverride:
                  description: |-
                    unsupportedPrometheusVersionOverride allows to adjust Prometheus version used by the operator
                    for testing, dev or emergencies.
                    Setting this field renders your cluster unsupported. Use at your own risk.
                  type: string
              type: object
            status:
              description: status defines the observed state of the operator.
              properties:
                bashToolsImage:
                  description: bashToolsImage is a generic Bash image with extra tools used by the operator for auxiliary purposes.
                  type: string
                clusterDomain:
                  description: clusterDomain is the Kubernetes cluster domain used by the Scylla Operator.
                  type: string
                conditions:
                  description: conditions hold conditions describing ScyllaOperatorConfig state.
                  items:
                    description: Condition contains details for one aspect of the current state of this API Resource.
                    properties:
                      lastTransitionTime:
                        description: |-
                          lastTransitionTime is the last time the condition transitioned from one status to another.
                          This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          message is a human readable message indicating details about the transition.
                          This may be an empty string.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: |-
                          observedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                          with respect to the current state of the instance.
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: |-
                          reason contains a programmatic identifier indicating the reason for the condition's last transition.
                          Producers of specific condition types may define expected values and meanings for this field,
                          and whether the values are considered a guaranteed API.
                          The value should be a CamelCase string.
                          This field may not be empty.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                grafanaImage:
                  description: grafanaImage is the image used by the operator to create a Grafana instance.
                  type: string
                observedGeneration:
                  description: |-
                    observedGeneration is the most recent generation observed for this ScyllaOperatorConfig. It corresponds to the
                    ScyllaOperatorConfig's generation, which is updated on mutation by the API Server.
                  format: int64
                  type: integer
                prometheusVersion:
                  description: prometheusVersion is the Prometheus version used by the operator to create a Prometheus instance.
                  type: string
                scyllaDBUtilsImage:
                  description: scyllaDBUtilsImage is the ScyllaDB image used for running ScyllaDB utilities.
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
