---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: scyllaoperatorconfigs.scylla.scylladb.com
spec:
  group: scylla.scylladb.com
  names:
    kind: ScyllaOperatorConfig
    listKind: ScyllaOperatorConfigList
    plural: scyllaoperatorconfigs
    singular: scyllaoperatorconfig
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - jsonPath: .metadata.creationTimestamp
          name: AGE
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: ScyllaOperatorConfig describes the Scylla Operator configuration.
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: spec defines the desired state of the operator.
              properties:
                scyllaUtilsImage:
                  description: scyllaUtilsImage is a Scylla image used for running scylla utilities.
                  minLength: 1
                  type: string
              type: object
            status:
              description: status defines the observed state of the operator.
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
