groups:
- name: scylla.rules
  rules:
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_write_latency_bucket{shard!=""}[60s])) by (cluster, dc, instance, shard, le,ks,cf))
    labels:
      by: "instance,shard"
      quantile: "0.99"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, dc, instance, le,ks,cf))
    labels:
      by: "instance"
      quantile: "0.99"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, dc, le,ks,cf))
    labels:
      by: "dc"
      quantile: "0.99"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, le,ks,cf))
    labels:
      by: "cluster"
      quantile: "0.99"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_write_latency_bucket{shard!=""}[60s])) by (cluster, dc, instance, shard, le,ks,cf))
    labels:
      by: "instance,shard"
      quantile: "0.95"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, dc, instance, le,ks,cf))
    labels:
      by: "instance"
      quantile: "0.95"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, dc, le,ks,cf))
    labels:
      by: "dc"
      quantile: "0.95"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, le,ks,cf))
    labels:
      by: "cluster"
      quantile: "0.95"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_write_latency_bucket{shard!=""}[60s])) by (cluster, dc, instance, shard, le,ks,cf))
    labels:
      by: "instance,shard"
      quantile: "0.5"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, dc, instance, le,ks,cf))
    labels:
      by: "instance"
      quantile: "0.5"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, dc, le,ks,cf))
    labels:
      by: "dc"
      quantile: "0.5"
  - record: scylla_column_family_write_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_write_latency_bucket{}[60s])) by (cluster, le,ks,cf))
    labels:
      by: "cluster"
      quantile: "0.5"
 
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_read_latency_bucket{shard!=""}[60s])) by (cluster, dc, instance, shard, le,ks,cf))
    labels:
      by: "instance,shard"
      quantile: "0.99"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, dc, instance, le,ks,cf))
    labels:
      by: "instance"
      quantile: "0.99"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, dc, le,ks,cf))
    labels:
      by: "dc"
      quantile: "0.99"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.99, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, le,ks,cf))
    labels:
      by: "cluster"
      quantile: "0.99"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_read_latency_bucket{shard!=""}[60s])) by (cluster, dc, instance, shard, le,ks,cf))
    labels:
      by: "instance,shard"
      quantile: "0.95"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, dc, instance, le,ks,cf))
    labels:
      by: "instance"
      quantile: "0.95"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, dc, le,ks,cf))
    labels:
      by: "dc"
      quantile: "0.95"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.95, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, le,ks,cf))
    labels:
      by: "cluster"
      quantile: "0.95"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_read_latency_bucket{shard!=""}[60s])) by (cluster, dc, instance, shard, le,ks,cf))
    labels:
      by: "instance,shard"
      quantile: "0.5"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, dc, instance, le,ks,cf))
    labels:
      by: "instance"
      quantile: "0.5"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, dc, le,ks,cf))
    labels:
      by: "dc"
      quantile: "0.5"
  - record: scylla_column_family_read_latency_summary
    expr: histogram_quantile(0.5, sum(rate(scylla_column_family_read_latency_bucket{}[60s])) by (cluster, le,ks,cf))
    labels:
      by: "cluster"
      quantile: "0.5"
  - record: wlatencyp99ks
    expr: scylla_column_family_write_latency_summary{quantile="0.99"}
  - record: rlatencyp99ks
    expr: scylla_column_family_read_latency_summary{quantile="0.99"}
  - record: wlatencyp95ks
    expr: scylla_column_family_write_latency_summary{quantile="0.95"}
  - record: rlatencyp95ks
    expr: scylla_column_family_read_latency_summary{quantile="0.95"}
  - record: wlatencyaks
    expr: scylla_column_family_write_latency_summary{quantile="0.5"}
  - record: rlatencyaks
    expr: scylla_column_family_read_latency_summary{quantile="0.5"}
  - record: scylla_column_family_write_total
    expr: label_join(sum(scylla_column_family_write_latency_count) by (cluster,ks,cf) or  0 * sum(scylla_column_family_cache_hit_rate) by (cluster,ks,cf), "ks_cf", ":", "ks", "cf")
    labels:
      by: "cluster"
      dd: "1"
  - record: scylla_column_family_read_total
    expr: label_join(sum(scylla_column_family_read_latency_count) by (cluster,ks,cf) or  0 * sum(scylla_column_family_cache_hit_rate) by (cluster,ks,cf), "ks_cf", ":", "ks", "cf")
    labels:
      by: "cluster"
      dd: "1"
