kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: scyllacluster-edit
  labels:
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
rules:
- apiGroups:
  - scylla.scylladb.com
  resources:
  - scyllaclusters
  - scylladbmonitorings
  verbs:
  - create
  - patch
  - update
  - delete
  - deletecollection
