apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: scylla-operator/scylla-operator-serving-cert
  name: scylla-operator
webhooks:
- name: webhook.scylla.scylladb.com
  clientConfig:
    service:
      name: scylla-operator-webhook
      namespace: scylla-operator
      path: /validate
  admissionReviewVersions:
  - v1
  sideEffects: None
  failurePolicy: Fail
  rules:
  - apiGroups:
    - scylla.scylladb.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - scyllaclusters
  - apiGroups:
    - scylla.scylladb.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - nodeconfigs
    - scyllaoperatorconfigs
    - scylladbdatacenters
