name: Docs

on:
  push:
    branches:
    - 'master'
    - 'v[0-9]+.[0-9]+'
  pull_request:
    branches:
    - '**'
    types:
    - opened
    - edited
    - reopened
    - synchronize
  schedule:
  - cron:  '0 23 * * *' # daily at 11pm

env:
  retention_days: 90

jobs:
  build-and-test:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Setup dependencies
      uses: ./.github/actions/docs/setup

    - name: Build
      uses: ./.github/actions/docs/build
